@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #7f8c8d, #2c3e50);
    font-family: "Poppins", sans-serif;
}

.player {
    width: 320px;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(45deg, #0a1225, #082c32);
    color: white;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 5px #8a8a9540;
}

.image-box img {
    width: 100%;
    border-radius: 15px;
}

.song-info {
    margin-top: 10px;
}

.device {
    font-size: 12px;
    color: #ccc;
}

.song-info h2 {
    margin: 5px 0;
    font-size: 18px;
    font-weight: 400;
    color: #9dc4e5;
    margin-bottom: 5px;
}

.artist {
    font-size: 14px;
    color: #bbbbbb9c;
    margin: 0;
}

.progress {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 12px;
}

.bar {
    flex: 1;
    height: 4px;
    background: #555;
    margin: 0 10px;
    border-radius: 5px;
    position: relative;
}

.fill {
    width: 60%;
    height: 100%;
    background: white;
    border-radius: 5px;
}

.controls {
    gap: 35px;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.controls button {
    background: none;
    border: none;
    width: 50px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 9px 10px 10px;
    border-radius: 50%;
}
.controls button:hover{
    background-color: #c3e0ff0d;
    color: #6a95d8;
}

.controls button.play {
    font-size: 30px;
}

